
body{
    background: linear-gradient(to bottom right, oklch(37.9% 0.146 265.522) 0%, oklch(42.4% 0.199 265.638) 50%, oklch(28.2% 0.091 267.935) 100%);
    background-size: cover;
    background-attachment: fixed;
    max-width: 100%;
    margin-inline: auto;
    font-family: sans-serif;

}
fieldset{
    border: none;
    padding: 0;
    margin: 0;
}
.content {
    background: transparent;
}
.interactive-icon {
    font-weight: 900;
}
