:root{
    --text-color1: #fff;
    --text-color2: #000;
    --text-color3: #717182;
    --bg-color1: #e9ebef;
    --container-sm: 448px;
    --container-md: 518px;
    --container-lg: 712px;
    --container-6xl: 1152px;
}
body{
    background: linear-gradient(to bottom right, oklch(37.9% 0.146 265.522) 0%, oklch(42.4% 0.199 265.638) 50%, oklch(28.2% 0.091 267.935) 100%);
    background-size: cover;
    background-attachment: fixed;
    max-width: 100%;
    margin-inline: auto;

}
.content {
    background: transparent;
}
.interactive-icon {
    font-weight: 900;
}
