.header-db{
    color: var(--text-color1);
}
.balance{
    color: var(--text-color1);
    background: oklch(54.6% 0.245 262.881);
    border-radius: 15px;
}
.button.exit {
    background-color: var(--bg-color1);
    color: var(--text-color2);
    display: inline-flex;
    gap: 3px;
    padding: 8px 12px;
    border-radius: 8px;
    box-shadow: none; 
    border: none;
}
.button.exit:hover {
    background-color: #e2e2e2;
}
.interactive-icon{

    font-variation-settings: "wght" 300;
}
.label{
    font-size: 1.2rem;
    font-weight: 100;
}
.balance-value{
    font-size: 2rem;
}
.dashboard-actions button{
    cursor: pointer;
    background: transparent;
    border: none;
    border-radius: 14px;
    font-weight: 600;
}
.dashboard-actions button.nav-active{
    transition-property: background;
    transition-duration: 150ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    background: #fff;
}   
.panel{
    display: none;
    background: #fff ;
    border-radius: 14px;
}
.active {
   display: block;
   min-height: 400px;
}
#history p, .transaction-history li, .panel p {
    color: var(--text-color3);
}
.panel h2, .panel p {
    font-size: 1rem;
}
.register.button.sign-up{
    border-radius: var(--border-btn-radius);
}
.primary {
    border-radius: var(--border-btn-radius);
}
.transaction-header span.transaction-icon {
    font-size: 1.5rem;
    font-weight: 500;
    color: oklch(62.7% 0.194 149.214);
    background-color: oklch(96.2% 0.044 156.743);
    border-radius: 50%;
}
.transaction-header span.withdraw-icon{
    color: oklch(62.7% 0.194 25.214);
    background-color: oklch(96.2% 0.044 26.743);
}
.deposit-amount{
    color: #00a63e !important;
}
.withdraw-amount{
    color: #e64947 !important;
}