body{
    max-width: 100%;
    padding: 32px;
}
main{
    width: 1152px;

}
.header-db {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-bottom: 40px;
}

.left {
    display: flex;
    align-items: center;
    text-align: start;
    gap: 20px;


}
.right {
    display: flex;
    align-items: center;

}
.button.exit {
    display: flex;
    align-items: center;
}
.balance{
    display: grid;
    justify-content: start;
    padding: 1.5rem 1.5rem 0 1.5rem;
    gap: 6px;
    text-align: start;
}
.dashboard-actions{
    display: flex;
    background: color-mix(in oklab, #fff 10%, transparent);
    border-radius: 14px;
    padding: 4px;
    margin-top: 40px;
}
.dashboard-actions button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    flex: 1;
}
.panel{
    text-align: start;
    margin-top: 40px;
    padding: 24px 24px 0 24px;
}

.panel-description{
    margin-bottom: 24px;
}
.panel form{
    display: grid;    
} 
.input-style {
    padding: 8px 8px 8px 8px;
    border-radius: var(--border-btn-radius);
}
.quick-values{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));    
    gap: 16px;
    margin-top: 16px;
    margin-bottom: 40px;
}
/* * Transaction History Styles * */
/* Inicialmente terá esse estilo, após "ativação do histórico ativar deposit or withdraw" */
.transaction-history{
    display: grid;
    justify-content: center;
    text-align: center;
    padding: 32px 0;
    overflow-y: auto;
    max-height: 300px;
    scroll-behavior: smooth;
}
.transaction-deposit{
    display: none;
}
.transaction-withdraw{
    display: none;
}
.transaction-info{
    display: flex;
    justify-content: space-between;
    padding: 16px;
    margin-bottom: 16px;
    border: 1px solid #F5F5F5;
    border-radius: var(--border-btn-radius);
}
.transaction-details{
    display: flex;
    flex-direction: column;
}
.transaction-header{
    display: flex;
    align-items: center;
    gap: 12px;
 }
 .transaction-header span.transaction-icon {
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
}
.transaction-values{
    text-align: end;
}


@media (max-width: 1152px) {
    main {
        width: var(--container-lg);
    }
}

@media (max-width: 768px) {
    body{
        padding: 16px;
    }
    main {
        width: var(--container-md);
    }
    .header-db{
        gap: 0px;
        flex-shrink: 0;
    }
}

@media (max-width: 576px) {
    body{
        margin: 8px;
    }
    main {
        width: var(--container-sm);
    }
    .welcome{
        font-size: 1.2rem;
    }
    .button.exit {
        padding: 6px 8px;
        font-size: 0.9rem;
        font-weight: 500;
    }
    .balance-value{
        font-size: 1.5rem;
    }
}