.header-db {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: transparent;
    border-bottom: 1px solid #ccc;
}

.left {
    display: flex;
    align-items: center;
    gap: 10px;
}