
.header-db {
    display: flex;
    /* width: 800px; */
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.left {
    display: flex;
    align-items: center;
    gap: 20px;

}
.right {
    display: flex;
    align-items: center;
}
.button.exit {
    display: flex;
    align-items: center;
}
.balance{
    display: grid;
    justify-content: start;
    padding: 1.5rem 1.5rem 0 1.5rem;
    gap: 6px;
    text-align: start;
    /* align-content: end; */
}
.dashboard-actions{
    display: flex;
    background: color-mix(in oklab, #fff 10%, transparent);
    border-radius: 14px;
    padding: 4px;
    margin-top: 40px;
}
.dashboard-actions button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    flex: 1;
}
