.content {
display: flex;
flex-direction: column;
background-color: #fff;
border-radius: 15px;
text-align: center;
}


.header-form {
display: flex;
flex-direction: column;
align-items: center;
padding: 1.5rem 1.5rem 0;
gap: 6px;
margin-bottom: 20px;
}


.circle {
width: 70px;
height: 70px;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
}


.icon-logo {
font-size: 120px;
color: #fff;
}


.header-info {
font-size: 16px;
color: #555;
}


.form-content {
display: grid;
width: 100%;
padding: 0 24px 24px;
text-align: start;
font-size: 14px;
font-weight: 550;
}


.form-content input {
background-color: #f3f3f3;
padding: 8px;
border-radius: 5px;
border: 1px solid transparent;
outline: none;
font-size: 14px;
}


.form-content input:focus {
border-color: #858585;
box-shadow: 0 0 0 3px rgba(151,151,151,.35);
transition: border 0.5s ease;
}


.form-content > *:not(:last-child) {
margin-bottom: 6px;
}


.button {
padding: 10px;
border-radius: 5px;
font-size: 12px;
font-weight: 700;
cursor: pointer;
}