h1, h2, h3, h4, h5, h6, p, ul, ol, li {
   margin: 0;
   padding: 0;
}

ul {
   list-style-type: none;
}
a{
   text-decoration: none;
   color: inherit;
}
body {
   /* background-color: oklch(28.2% 0.091 267.935); */
   background-color: #372cc9;
   font-family: sans-serif;
   margin: 0 auto;
   height: 100vh;
   line-height: 1.5;
   padding: 0.25rem*4;
   display: flex;
   justify-content: center;
   align-items: center;
}
* {
   box-sizing: border-box;
}
