@import url("/caixaeletronicodigital/digital-atm/frontend/styles/global.css");

.content{
   display: flex;
   flex-direction: column;
   background-color: #FFFFFF;
   border-radius: 15px;
   text-align: center;
}
.header-form{
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-bottom: 20px;
   padding: 1.5rem 1.5rem 0 1.5rem;
   gap: 6px;

}
.header-form > *:not(:last-child) {
   margin-bottom: 16px;
}

.circle{
   width: 70px; 
   height: 70px; 
   background-color: oklch(54.6% 0.245 262.881); 
   border-radius: 50%; 
   display: flex; 
   justify-content: center;
   align-items: center; 
   /* box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3); Adiciona uma sombra opcional */
}
.icon-logo {
   font-size: 120px; /* Tamanho do ícone */
   color: #FFF; /* Cor do ícone */
}
.header-info{
   font-size: 16px;
   color: #555555;
   margin-top: 10px;
}
.form-content{
   box-sizing: border-box;
   display: grid;
   width: 100%;
   text-align: start;
   font-size: 14px;
   font-weight: 550;
   padding: 0 24px 24px 24px;
}
.form-content input{
   background-color: #f3f3f3;
   padding: 8px;
   border-radius: 5px;
   border: 1px solid transparent;
   outline: none;
   max-width: 100%;
   font-size: 14px;
}

.form-content input:focus {
   border-color: #858585; /* escura */
   box-shadow: 0 0 0 3px rgba(151, 151, 151, 0.35); /* clara */
   transition: border 0.5s ease;
}
.form-content > *:not(:last-child) {
   margin-bottom: 6px;
}

.button{
   background-color: #030213;
   color: white;
   padding: 10px;
   border: none;
   border-radius: 5px;
   font-size: 12px;
   font-weight: 700;
   cursor: pointer;
   margin-top: 10px;
}
.button:hover{
   background-color: #3f3f3f;
}
.button.sign-up{
   color: #030213;
   background-color: #ffffff;
   border: #cacaca 1px solid;
}
.button.sign-up:hover{
   background-color: #eeeeee;

}

.demo-users {
   background-color: #f8f9ff;
   padding: 16px;
   margin-top: 16px;
   text-align: start;
   border-radius: 12px;
}

.demo-users h2 {
   font-size: 14px;
   font-weight: bold;
   color: #555555;
}

.demo-users li {
   font-size: 14px;
   font-weight: 500;
   color: #555555;
}

.demo-users li:first-child {
   margin-bottom: 4px;
}