@import url("/caixaeletronicodigital/digital-atm/frontend/styles/global.css");

.content{
   display: flex;
   flex-direction: column;
   background-color: #FFFFFF;
   border-radius: 15px;
   text-align: center;
}
.header-form{
   display: flex;
   flex-direction: column;
   align-items: center;
   /* margin-bottom: 20px; */
   padding: 1.5rem 1.5rem 0 1.5rem;

}
.circle{
   width: 70px; 
   height: 70px; 
   background-color: oklch(54.6% 0.245 262.881); 
   border-radius: 50%; 
   display: flex; 
   justify-content: center;
   align-items: center; 
   /* box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3); Adiciona uma sombra opcional */
}
.icon-logo {
   font-size: 120px; /* Tamanho do ícone */
   color: #FFF; /* Cor do ícone */
}
.header-info{
   font-size: 16px;
   color: #555555;
   margin-top: 10px;
}
.form-content{
   box-sizing: border-box;
   display: grid;
   width: 100%;
   text-align: start;
   font-size: 14px;
   font-weight: 550;
   padding: 0 24px 24px 24px;
}
.form-content input{
   background-color: #f3f3f3;
   padding: 10px;
   border-radius: 5px;
   border: none;
   max-width: 100%;
}

.button{
   background-color: #030213;
   color: white;
   padding: 10px;
   border: none;
   border-radius: 5px;
   font-size: 12px;
   font-weight: 700;
   cursor: pointer;
}
.button:hover{
   background-color: #3f3f3f;
}