.login .circle {
   background-color: oklch(54.6% 0.245 262.881);

}
.login .button {
   background-color: var(--bg-color2);
   color: var(--text-color1);
}

.primary {
   margin-top: 10px;
}

.login .button:hover {
   background-color: var(--bg-color3);
}

.login .button.sign-up {   
   background-color: var(--bg-color0);
   color: #030213;
   border: 1px solid #cacaca;
}

.login .button.sign-up:hover {
   background-color: var(--bg-color1);
}

.demo-users {
   background-color: #f8f9ff;
   padding: 16px;
   margin-top: 16px;
   border-radius: 12px;
   text-align: start;
   border-radius: 12px;
}

.demo-users h2 {
   font-size: 14px;
   font-weight: bold;
   color: var(--text-color4);
}

.demo-users li {
   font-size: 14px;
   font-weight: 500;
   color: var(--text-color4);
}

.demo-users li:first-child {
   margin-bottom: 4px;
}

@media(max-width: 576px) {
   body {
      margin: 8px;
   }
   
}