body{
    background-color: oklch(44.8% 0.119 151.328);
}

.circle {
    background-color: var(--bg-color4);
}

.button.secundary {
    background-color: var(--bg-color4);
    color: var(--text-color1);
}

.button.secundary:hover {
    background-color: oklch(52.7% 0.194 149.214);
}

.register.button.sign-up{
    background-color: var(--bg-color0);
    color: var(--text-color2);
    border: 1px solid #cacaca;
    border-radius: var(--border-btn-radius);

}

.register.button.sign-up:hover {
    background-color: var(--bg-color1);
}